/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700&display=swap');

$card-border-width: 0 !default;
$font-family-sans-serif: "Source Code Pro";
$navbar-bg: #1a0933;
$navbar-fg: #D6E4E9;

/*-- scss:rules --*/

body{
  font-family: "Source Code Pro";
  font-weight: 300;
}

.quarto-dashboard .navbar .navbar-nav .active {
  background-image: url("images/active.png");
  background-position: center;
  background-repeat: no-repeat; 
  background-color: #1a0933;
  background-size: 50px;
}

.card-body {
  background: rgba(255,255,255,0);
}

.stats {
  padding: 4px;
  font-size: 1rem;
  margin: auto;
}

.my-ref {
  font-size: .8rem;
  font-color: #D6E4E9;
  width: 400px !important;
  margin: auto;
}